asgiref==3.8.1
click==7.1.2
click-aliases==1.0.1
click-default-group==1.2.4
click-help-colors==0.9.4
colorama==0.4.6
commonmark==0.9.1
Django==5.1.1
Pygments==2.18.0
python-dateutil==2.9.0.post0
rich==9.13.0
six==1.16.0
SQLAlchemy==1.4.54
sqlparse==0.5.1
tabulate==0.8.10
task==0.2.5
typing-extensions==3.10.0.2
watchdog==5.0.2
