{% extends "home/index.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-sm-10 offset-sm-1 col-md-6 offset-lg-1">
            {% block title_page %}
                <h5 class="text-start mb-3">Lista de tarefas</h5>
            {% endblock %}
            {% block content_task %}
            {% endblock %}
        </div>
        <div class="col-lg-3 offset-lg-1">
            {% block content_info %}
            {% endblock %}
        </div>
    </div>
    <div class="modal fade" id="createModalTask" tabindex="-1" aria-labelledby="createModalTasklLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createModalTasklLabel">Adicionar tarefa</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


                <form method="post" action="{% url 'tasks:add_task' %}">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="task_title" class="form-label">Título</label>
                            {{ form.title }}
                        </div>
                        <div class="mb-3">
                            <label for="task_description" class="form-label">Descrição</label>
                            {{ form.description }}
                        </div>
                        <div class="mb-3">
                            <label for="task_users" class="form-label">Responsável</label>
                            {{ form.user }}
                        </div>
                        <div class="mb-3">
                            <label for="task_status" class="form-label">Etapa</label>
                            {{ form.status }}
                        </div>
                        <div class="mb-3">
                            <label for="task_due_date" class="form-label">Data de Vencimento</label>
                            {{ form.due_date }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
