{% extends "home/index.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-lg-6 offset-lg-1">
            <h1 class="text-start mb-5">Tasks</h1>
            {% block content_task %}
            {% endblock %}
        </div>
        <div class="col-lg-3 offset-lg-1">
            <h1 class="text-start mb-5">Informações</h1>
            <span class="badge bg-primary">Total: {{ total_tasks }}</span>
            <span class="badge bg-success">Concluídas: {{ done_tasks_count }}</span>
            <span class="badge bg-danger">Pendentes: {{ pending_tasks_count }}</span>
            <hr>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModalTask">
                Nova tarefa
            </button>

        </div>

    </div>
    <div class="modal fade" id="createModalTask" tabindex="-1" aria-labelledby="createModalTasklLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createModalTasklLabel">Adicionar tarefa</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


                <form method="post" action="{% url 'tasks:add_task' %}">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="task_title" class="form-label">Título</label>
                            {{ form.title }}
                        </div>
                        <div class="mb-3">
                            <label for="task_description" class="form-label">Descrição</label>
                            {{ form.description }}
                        </div>
                        <div class="mb-3">
                            <label for="task_users" class="form-label">Responsável</label>
                            {{ form.user }}
                        </div>
                        <div class="mb-3">
                            <label for="task_status" class="form-label">Etapa</label>
                            {{ form.status }}
                        </div>
                        <div class="mb-3">
                            <label for="task_due_date" class="form-label">Data de Vencimento</label>
                            {{ form.due_date }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
